body{background-color: blue;
font-family:"Times New Roman", Times, serif;}
h1{text-align: center;
  color:white;
  }
h2{text-align: center;
  color:white;
  }

button{text-align: center color:white;
  }
  p{text-align: center;}
